body {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    color: #fff;
    padding: 50px;
    /* background-color: #00bbf0; */
    background-image: url("https://images7.alphacoders.com/961/961343.jpg");
    background-size: 2000px 1000px;
    text-align: left;
    margin-top: ;
  }
  
  h1 {
    font-size: 150px;
  }
  
  /* button {
    background-color: #6bbe92;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px;
    margin: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
  }
   */